<div class="container">
    <div class="quiz-container">
        <form class="quiz-form">
            <div class="quiz-question">
                <blockquote>
                    <div class="quiz-question">
                        Внутри квадрата ABCD выбрана точка О.
                        Квадрат A`B`C`D` - образ квадрата ABCD при гомотетии с центром в точке О и коэффициентом k>1
                        (Точки A`, B`, C`, D` являются образами точек A, B, C, D соответственно).
                        Докажите, что сумма площадей четырёхугольников A`ABB` и C`CDD`
                        равна сумме площадей четырёхугольников B`BCC` и D`DAA`.
                    </div>
                </blockquote>
            </div>

            <div class="quiz-answers">
                <div class="quiz-radio">
                    <div>
                        <input id="1" type="radio" name="g" checked>
                        <label for="1">Option 1</label>
                    </div>
                </div>
                <div class="quiz-radio">
                    <div>
                        <input id="2" type="radio" name="g">
                        <label for="2">Option 1</label>
                    </div>
                </div>
            </div>

            <div class="quiz-separator"></div>

            <div class="row quiz-buttons">
                <div class="col-md-4 quiz-skip-btn">
                    <button class="btn btn-lg btn-primary btn-block">Пропустить</button>
                </div>
                <div class="col-md-8 quiz-answer-btn">
                    <button class="btn btn-lg btn-primary btn-block">Ответить</button>
                </div>
            </div>
        </form>
    </div>
</div>
