<div class="container">
  <form class="sign-in-form">
    <div class="text-center mb-4">
      <i class="fa fa-sign-in fa-5x" aria-hidden="true"> </i>
      <h1 class="h3 mb-3 font-weight-normal">Идентификация</h1>
      <p>После корректной идентификации вы можете начать тестирование</p>
    </div>

    <div class="form-label-group sign-in-form-margin-top">
      <input type="text" id="input-login" class="form-control" placeholder="Login" required autofocus />
    </div>

    <div class="form-label-group sign-in-form-margin-top">
      <input type="text" id="input-password" class="form-control" placeholder="Password" required />
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  </form>
</div>