<div [hidden]="!loading" class="loader">
    <div id="busyLayer">
        <div>
            <i class="fa fa-cog fa-5x fa-spin"></i>
        </div>
    </div>
</div>

<header class="bg-white border-bottom box-shadow">

    <div class="row">
        <div class="col-md-5 col-sm-6 col-6">
            <div class="project-name"><i class="fa fa-question-circle"> </i> {{ title }}</div>
        </div>

        <div class="col-md-7 col-sm-6 col-6 text-right">
            <div *ngIf="loading" class="navigation-loader">
                <i class="fa fa-cog fa-spin"></i>
            </div>

            <div class="navigation" *ngIf="!loading">
                <span *ngIf="!state.isLogged()">
                    <a class="btn btn-raised btn-link" [routerLink]="['/about']" routerLinkActive="navigation-active">
                        <i class="fa fa-question-circle-o"></i>
                        <span class="d-none d-md-block">О нас</span>
                    </a>

                    <a class="btn btn-raised btn-link" [routerLink]="['/register']" routerLinkActive="navigation-active">
                        <i class="fa fa-user"></i>
                        <span class="d-none d-md-block">Регистрация</span>
                    </a>

                    <a class="btn btn-raised btn-link" [routerLink]="['/login']" routerLinkActive="navigation-active">
                        <i class="fa fa-sign-in"></i>
                        <span class="d-none d-md-block">Войти</span>
                    </a>

                    <a class="btn btn-raised btn-link" [routerLink]="['/recovery']" routerLinkActive="navigation-active">
                        <i class="fa fa-sign-in"></i>
                        <span class="d-none d-md-block">Восстановить доступ</span>
                    </a>
                </span>

                <span *ngIf="state.isLogged()">
                    <a class="btn btn-raised btn-link" (click)="resolve()">
                        <i class="fa fa-question-circle-o"></i>
                        <span class="d-none d-md-block">К тесту</span>
                    </a>

                    <a class="btn btn-raised btn-link">
                        <i class="fa fa-user"></i>
                        <span class="d-none d-md-block">{{ state.getProfile() }}</span>
                    </a>

                    <a class="btn btn-raised btn-link" [routerLink]="['/logout']" routerLinkActive="navigation-active">
                        <i class="fa fa-sign-out"></i>
                        <span class="d-none d-md-block">Выйти</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</header>

<div [hidden]="loading" class="router-output">
    <router-outlet></router-outlet>
</div>

<footer class="border-top">
    <div>© 2018</div>
</footer>