<div [hidden]="!loading" class="loader">
    <div id="busyLayer">
        <div>
            <i class="fa fa-cog fa-5x fa-spin"></i>
        </div>
    </div>
</div>

<header class="bg-white border-bottom box-shadow">
    <div class="project-name"><i class="fa fa-question-circle"> </i> {{ title }}</div>

    <div *ngIf="loading" class="navigation-loader">
        <i class="fa fa-cog fa-spin"></i>
    </div>

    <div class="navigation" *ngIf="!loading">
        <span *ngIf="!state.isLogged()">
            <a class="btn btn-raised btn-link" [routerLink]="['/about']" routerLinkActive="navigation-active"><i
                    class="fa fa-question-circle-o"></i> О нас</a>

            <a class="btn btn-raised btn-link" [routerLink]="['/register']" routerLinkActive="navigation-active"><i
                    class="fa fa-user"></i> Регистрация</a>
            <a class="btn btn-raised btn-link" [routerLink]="['/login']" routerLinkActive="navigation-active"><i
                    class="fa fa-sign-in"></i> Войти</a>
        </span>

        <span *ngIf="state.isLogged()">
            <a class="btn btn-raised btn-link" (click)="resolve()"><i class="fa fa-question-circle-o"></i> К тесту</a>

            <a class="btn btn-raised btn-link"><i class="fa fa-user"></i> {{ state.getProfile() }}</a>

            <a class="btn btn-raised btn-link" [routerLink]="['/logout']" routerLinkActive="navigation-active"><i
                    class="fa fa-sign-out"></i> Выйти</a>
        </span>
    </div>
</header>

<div [hidden]="loading" class="router-output">
    <router-outlet></router-outlet>
</div>

<footer class="border-top">
    <div>© 2018</div>
</footer>