<header class="bg-white border-bottom box-shadow">
    <div class="project-name"><i class="fa fa-question-circle"> </i> {{ title }}</div>

    <div class="navigation">
        <a *ngIf="!globals.isLogged()" class="btn btn-raised btn-link" [routerLink]="['/login']" routerLinkActive="navigation-active"><i
                class="fa fa-sign-in"></i> Войти</a>
        <a *ngIf="!globals.isLogged()" class="btn btn-raised btn-link" [routerLink]="['/register']" routerLinkActive="navigation-active"><i
                class="fa fa-user"></i> Регистрация</a>
        <a class="btn btn-raised btn-link" [routerLink]="['/about']" routerLinkActive="navigation-active"><i
                class="fa fa-question-circle-o"></i> О проекте</a>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="border-top">
    <div>© 2018</div>
</footer>