@import url("font/font.css");

header {
    height: 80px;
    line-height: 80px;
}

header .project-name {
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    color: #337ab7;
}

header .navigation > a, a:active, a:hover, a:focus, a:focus-within {
    color: #1976d2;
    text-decoration: none !important;
}

header .navigation .navigation-active {
    color: red;
}

header .navigation {
    margin-top: 25px;
    position: relative;
    float: right;
}

header .navigation span {
    float: right;
    display: inline-block;
}


header .navigation  a {
    float: right;
    display: inline-block;
}

body {
    font-family: "Roboto", sans-serif;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.6rem;
    background-color: #efefef;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

.container {
    margin-top: 25px;
}

.container .color-successful {

}