<div class="container">
    <div class="quiz-description-container">
        <div class="text-center mb-4">
            <div class="text-header">
                <i class="fa fa-user fa-5x" aria-hidden="true"> </i>
                <h1 class="h3 mb-3 font-weight-normal">Введение</h1>
            </div>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
            <p>Здесь будет находиться текст приветствия для тестируемого.</p>
        </div>

        <div class="quiz-separator"></div>

        <div class="row">
            <div class="col-md-12 btn-quiz-start">
                <button class="btn btn-lg btn-primary btn-block">Начать тестирование</button>
            </div>
        </div>
    </div>
</div>
