<div class="container registration-form">
    <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
            <p>После регистрации вы поулчите логин и пароль для начала тестирования</p>
        </div>

        <div class="form-label-group registration-form-margin-top">
            <input type="text" id="input-surname" class="form-control" placeholder="Фамилия" required="">
        </div>

        <div class="form-label-group registration-form-margin-top">
            <input type="text" id="input-name" class="form-control" placeholder="Имя" required="" autofocus="">
        </div>

        <div class="form-label-group registration-form-margin-top">
            <input type="text" id="input-patronymic" class="form-control" placeholder="Отчество" required="">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    </form>
</div>