<div class="container">
    <div class="registration-container">
        <form class="registration-form">
            <div class="text-center mb-4">
                <i class="fa fa-user fa-5x" aria-hidden="true"> </i>
                <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                <p>После регистрации вы поулчите логин и пароль для начала тестирования</p>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="showAlert">
                {{ message }}
            </div>

            <div class="form-label-group registration-form-margin-top">
                <input type="text" value="" name="_surname" [(ngModel)]="_surname" class="form-control"
                       placeholder="Фамилия" required autofocus/>
            </div>

            <div class="form-label-group registration-form-margin-top">
                <input type="text" value="" name="_name" [(ngModel)]="_name" class="form-control" placeholder="Имя"
                       required/>
            </div>

            <div class="form-label-group registration-form-margin-top">
                <input type="text" value="" name="_patronymic" [(ngModel)]="_patronymic" class="form-control"
                       placeholder="Отчество" required/>
            </div>

            <button class="btn btn-lg btn-primary btn-block action-btn" (click)="registerUser()">Зарегистрироваться
            </button>
        </form>
    </div>
</div>